{% extends "layout.html" %}
{% block content %}
    <h1>Initializing Game</h1>
    <hr/>
    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div>
                <p>{{ form.room_key.label }}</p>
                <p>{{ form.room_key }}</p>
            </div>
            <div>
                <p>{{ form.confirm_roomkey.label }}</p>
                <p>{{ form.confirm_roomkey }}</p>
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock content %}
