{% extends "layout.html" %}
{% block content %}

    <h1>Register Today</h1>

    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div>
                <p>{{ form.username.label }}</p>
                <p>{{ form.username }}</p>
            </div>
            <div>
                <p>{{ form.email.label }}</p>
                <p>{{ form.email }}</p>
            </div>
            <div>
                <p>{{ form.confirm_email.label }}</p>
                <p>{{ form.confirm_email }}</p>
            </div>
            <div>
                <p>{{ form.password.label }}</p>
                <p>{{ form.password }}</p>
            </div>
            <div>
                <p>{{ form.confirm_password.label }}</p>
                <p>{{ form.confirm_password }}</p>
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>

    <small>
        Already Have an account?
        <a href="{{ url_for('login') }}" style="color: black">
            <b>Login</b>
        </a>
     </small>
{% endblock content %}
