{% extends "layout.html" %}
{% block content %}
    <style>
        .actual
        {
            font-size: 30px
        }


    </style>

    <h1>Give Your Best Tries</h1>
    <hr/>

    <div class="actual">
        <p id="actual_guess"><b>Guess:</b> {{ actual_try.guess }}</p>
        <p id="actual_response"><b>Response:</b> {{ actual_try.response }}</p>
    </div>

    <big><big>
        <p id"remaining"><b>remaining tries:</b> {{ remaining }}</p>
        <p><b>last guesses and responses:</b></p>
    </big></big>

    <ol id="tries_list">
        {% for try in tries %}
            <li>
                <p><b>Guess:</b> {{ try.guess }}<p>
                <p><b>Response:</b> {{ try.response }}<p>
            </li>
        {% endfor %}
    </ol>

    <a href="http://localhost:5000/" style="color: black">
        <h3><b>Home Page</b></h3>
    </a>
{% endblock content %}
