{% extends "layout.html" %}
{% block content %}

    <h1>Update Account</h1>

    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div>
                <p>{{ form.username.label }}</p>
                <p>{{ form.username }}</p>
            </div>
            <div>
                <p>{{ form.email.label }}</p>
                <p>{{ form.email }}</p>
            </div>
            <div>
                <p>{{ form.password.label }}</p>
                <p>{{ form.password }}</p>
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>

    <small>
        <a href="{{ url_for('account') }}" style="color: black">
            <h3><b>Account Page</b></h3>
        </a>
    </small>
{% endblock content %}
